@font-face {
  font-family: "TheSans";
  src: url("/fonts/TheSans-Plain.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "TheSans";
  src: url("/fonts/TheSans-B6SemiBold.otf");
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'TheSans', sans-serif;
  font-weight: 400;
  background: #000000;  /* fallback for old browsers */
  }

h1 {
  font-family: TheSans, sans-serif;
  font-size: 5em;
  font-weight: 600;
  color:#FFFFFF;
  text-align: center;
}

h2 {
  font-family: TheSans, sans-serif;
  font-size: 2em;
  font-weight: 600;
  color:#FFFFFF;
  margin-top: 2rem
}

h3 {
  font-family: TheSans, sans-serif;
  font-size: 2em;
  font-weight: 600;
  color:#ffffff;
  margin: 1rem;
}

h4 {
  font-family: TheSans, sans-serif;
  font-size: 2em;
  font-weight: 600;
  color:#ffffff;
  margin: 1rem;
}

* {
  box-sizing: border-box;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  background: #293233;
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 16px 24px;
  position: absolute;
  top: 100px;
  width: 280px;
}

li {
  list-style: none;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
}


.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
